<md-card flex="70">
	<md-card-title layout="row">
				<md-card-title-text layout="column">
					<span class="md-headline">Khách hàng: Ninh Trang</span>
					<div layout="row">
						
						<div layout="column" class="padding-l15">
							<div layout="row">
							<md-button target="_blank" ng-disabled="true"class="md-icon-button">
								<md-icon md-svg-icon="images/phone.svg"></md-icon>
							</md-button>
							<span class="padding-t10">0123456789</span>
							<div flex="35"></div>
							<md-button target="_blank" ng-disabled="true"class="md-icon-button">
								<md-icon md-svg-icon="images/email.svg"></md-icon>
							</md-button>
							
							<span class="padding-t10">trang@gmail.com</span>
							</div>
							<div layout="row">
							<md-button target="_blank" ng-disabled="true"class="md-icon-button">
								<md-icon md-svg-icon="images/address.svg"></md-icon>
							</md-button>
							<span class="padding-t10">Số 97, Phường Man Thiện, Phường Hiệp Phú, Quận 9</span>
							</div>
						</div>
					</div>
					<div layout="row" class="padding-l15"> 
						<md-button target="_blank" ng-disabled="true"class="md-icon-button">
							<md-icon md-svg-icon="images/tag.svg"></md-icon>
						</md-button>
						<span class="padding-t10">Dịch vụ yêu cầu</span>
					</div>
					<div layout="row" class="padding-l15">
						<md-button class="md-mini md-raised md-primary">Sửa điện</md-button>
					</div>
					<br>
					<div layout="row">
						<div flex></div>
						<span class="padding-t10">Xem chi tiết</span>
						<md-button target="_blank" class="md-icon-button" ng-click="modelNew(tk.cmnd)">
							<md-icon md-svg-icon="images/right-arrow.svg"></md-icon>
						</md-button>
					</div>
				</md-card-title-text>
	</md-card-title>
</md-card>